<div class="bodyaround">

  <div class="container">
    <img src="http://res.cloudinary.com/dyk04juxf/image/upload/v1520012727/unnamed.png">
    
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" id="name"
                 required
                 placeholder="Enter Username"
                 [(ngModel)]="user.name" name="name"
                 #name="ngModel">

        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password"
                   required
                   placeholder="Enter Password"
                   [(ngModel)]="user.password" name="password"
                   #name="ngModel">
            
          </div>
  
  
        <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
      </form>
  </div>
  
  </div>
  